/*NULL *\ */
@import url(fonts.css);
* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  width: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:hover {
  text-decoration: none; }

.wrapper {
  font-family: "Geometria", sans-serif;
  background-color: rgba(251, 251, 251, 0.9); }

.top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 3; }

.content {
  margin-top: 127px; }
  .content_user {
    margin-top: 84px; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 14px 43px;
  background-color: #fff;
  border-bottom: 1px solid #F1F1F1; }
  .header__logo {
    width: 183px;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
    .header__logo:hover {
      opacity: .8; }
    .header__logo img {
      width: 100%; }
  .header__profile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FFBB30 center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 33px;
    height: 33px;
    margin-right: 13px; }
  .header__name {
    font-size: 14px;
    color: #333333;
    position: relative;
    padding-right: 21px; }
    .header__name::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 0;
      width: 12px;
      height: 10px;
      background: transparent url("../img/arrowDown.svg") no-repeat center center;
      -webkit-background-size: contain;
      background-size: contain; }

.goBack {
  padding: 14px 43px;
  border-bottom: 1px solid #F1F1F1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff; }
  .goBack__link {
    font-family: "Geometria-Bold", sans-serif;
    font-size: 14px;
    color: #646464;
    display: block;
    position: relative;
    padding-left: 24px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
    .goBack__link:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      width: 12px;
      height: 10px;
      background: transparent url("../img/arrowLeft.svg") no-repeat center center;
      -webkit-background-size: contain;
      background-size: contain; }

.nav {
  background: #FFFFFF;
  border-right: 1px solid #F2F2F2;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: scroll;
  width: 395px;
  height: -webkit-calc(100vh - 128px);
  height: calc(100vh - 128px);
  position: fixed;
  left: 0;
  top: 128px;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  z-index: 10; }
  .nav_unvis {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%); }
  .nav__top {
    padding: 34px;
    border-bottom: 1px solid #F2F2F2; }
  .nav__descr {
    font-family: "Geometria-Bold", sans-serif;
    font-size: 10px;
    color: #CBCBCB;
    letter-spacing: 0.56px;
    line-height: 24px; }
  .nav__topTitle {
    font-family: "Geometria-Bold", sans-serif;
    font-size: 18px;
    color: #0B0B0B;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 25px; }
  .nav__heading {
    background-color: #FFFFFF;
    border: 1px solid #F6F6F6;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.02);
    padding: 21px 100px 18px 33px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    cursor: pointer; }
    .nav__heading-title {
      font-family: "GeometriaExtraBold", sans-serif;
      font-size: 14px;
      color: #1D1D1D;
      line-height: 18px;
      margin-bottom: 8px; }
    .nav__heading:before {
      content: '';
      display: block;
      position: absolute;
      width: 15px;
      height: 18px;
      background: transparent url("../img/arrowDown.svg") no-repeat center center;
      -webkit-background-size: contain;
      background-size: contain;
      right: 34px;
      top: 21px;
      -webkit-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
  .nav__icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "GeometriaExtraBold", sans-serif;
    font-size: 10px;
    color: #2F2F2F;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #ebeced; }
  .nav__date {
    font-size: 12px;
    color: #B4B4B4; }
  .nav__left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 25px;
    margin-right: 21px; }
  .nav__punkt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 17px 21px 17px 33px;
    background-color: #fcfcfc;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden; }
    .nav__punkt .nav__right {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: -webkit-calc(100% - 54px);
      width: calc(100% - 54px); }
    .nav__punkt:last-of-type .nav__itemIcon:after {
      display: none; }
  .nav__title {
    font-size: 13px;
    color: #2F2F2F;
    margin-bottom: 8px; }
  .nav__itemIcon {
    width: 11px;
    height: 11px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #EBECED;
    position: relative; }
    .nav__itemIcon:before, .nav__itemIcon:after {
      content: '';
      display: block;
      position: absolute;
      height: 1000px;
      width: 3px;
      background-color: #EBECED;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    .nav__itemIcon:before {
      bottom: 0; }
    .nav__itemIcon:after {
      top: 0; }
  .nav__quantity {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: 1px solid #EFEFEF;
    font-family: "Geometria-Bold", sans-serif;
    font-size: 12px;
    color: #8E9399;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .nav__quantity_cull {
      border: 1px solid #B1CD43;
      color: #B1CD43; }
  .nav__item.nav__item_done .nav__icon {
    font-size: 0;
    background: rgba(177, 205, 67, 0.25) url("../img/check.svg") no-repeat center center;
    -webkit-background-size: 60% 60%;
    background-size: 60%; }
  .nav__item.nav__item_showed .nav__heading:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .nav__item-content {
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    max-height: 1000px;
    overflow: hidden; }
    .nav__item-content.unactive {
      max-height: 0;
      opacity: 0;
      overflow: hidden; }

.counter {
  width: 90%; }
  .counter__line {
    width: 260px;
    height: 6px;
    background-color: #F1F2F2;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    max-width: 90%; }
  .counter__count {
    font-family: "Geometria-Bold", sans-serif;
    font-size: 13px;
    color: #C1C1C1;
    margin-bottom: 7px;
    display: block; }
  .counter__subLine {
    height: 100%;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #B1CD43;
    -webkit-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out; }
  .counter__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .counter__flag {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: #F1F2F2 url("../img/flag2.svg") no-repeat center center;
    -webkit-background-size: 45% 45%;
    background-size: 45%;
    margin-top: 20px;
    min-width: 32px; }

.toggleNav {
  background: #EBECED;
  width: 51px;
  height: 51px;
  position: absolute;
  left: 10px;
  top: 30px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer; }

.main {
  width: -webkit-calc(100vw - 395px);
  width: calc(100vw - 395px);
  position: relative;
  left: 197.5px;
  min-height: -webkit-calc(100vh - 128px);
  min-height: calc(100vh - 128px);
  background: rgba(251, 251, 251, 0.9);
  padding-bottom: 150px;
  padding-top: 52px;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }
  .main_user {
    min-height: -webkit-calc(100vh - 84px);
    min-height: calc(100vh - 84px);
    left: 136px;
    width: -webkit-calc(100vw - 272px);
    width: calc(100vw - 272px); }
  .main_vebinar {
    background-color: #fff; }
  .main__conspekt {
    min-height: 400px; }
  .main_full {
    width: 100%;
    left: 0; }
  .main-content {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 871px;
    max-width: 90%; }
    .main-content_orders {
      background-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .main__singleBanner {
    width: 100%;
    height: 268px;
    background: #B3D1D6;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    margin-bottom: 36px; }
  .main__main {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 105px;
    padding-right: 105px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 35px;
    padding-bottom: 14px; }
  .main__blocks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 53px; }
  .main__left {
    width: 70%; }
  .main__information {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    color: #8E9399;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 19px; }
  .main__time {
    padding-left: 25px;
    position: relative;
    line-height: 17px;
    margin-right: 35px; }
    .main__time:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      background: transparent url("../img/clock.svg") no-repeat center center;
      -webkit-background-size: contain;
      background-size: contain;
      width: 17px;
      height: 17px; }
  .main__name {
    position: relative;
    line-height: 17px; }
    .main__name:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-56%);
      -ms-transform: translateY(-56%);
      transform: translateY(-56%);
      left: -12px;
      width: 5px;
      height: 5px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: #8e9399; }
  .main__title {
    font-family: "Geometria-Bold", sans-serif;
    font-size: 22px;
    color: #1D1D1D;
    line-height: 30px;
    margin-bottom: 41px; }
  .main__buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .main__button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #F8F9F9;
    border: 1px solid #E6EAEB;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: "Geometria-Bold", sans-serif;
    font-size: 13px;
    color: #41454D;
    margin-right: 18px;
    min-width: 149px;
    min-height: 36px; }
  .main__right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .main__link {
    display: block;
    position: relative; }
    .main__link:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .main__task:before {
    background: transparent url("../img/book.svg") no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
    width: 10px;
    height: 15px; }
  .main__conspekt {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 105px;
    padding-right: 105px;
    font-family: "Geometria", sans-serif;
    font-size: 16px;
    color: #1D1D1D;
    letter-spacing: 0;
    line-height: 26px; }
  .main__subtitle {
    font-family: "Geometria-Bold", sans-serif;
    font-size: 19px;
    color: #1D1D1D;
    line-height: 25px; }
  .main__tab {
    display: block;
    font-family: "Geometria-Bold", sans-serif;
    font-size: 11px;
    color: rgba(70, 70, 70, 0.3);
    letter-spacing: 1.19px;
    position: relative;
    text-transform: uppercase;
    margin-right: 27px;
    overflow: hidden;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    height: 23px;
    cursor: pointer; }
    .main__tab:last-of-type {
      margin-right: 0; }
    .main__tab:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: transparent;
      left: 0;
      bottom: 0;
      -webkit-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      -webkit-transform: translateX(-110%);
      -ms-transform: translateX(-110%);
      transform: translateX(-110%); }
    .main__tab_active {
      color: #B1CD43; }
      .main__tab_active:after {
        background: #B1CD43;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none; }
  .main__tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: -14px; }

.chart {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-width: 70px;
  max-height: 70px; }
  .chart .persent {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
    font-family: "Geometria-Bold", sans-serif;
    font-size: 24px;
    color: #8E9399; }
  .chart .outer {
    fill: transparent;
    stroke: #EFEFEF;
    stroke-width: 2;
    -webkit-transition: stroke-dashoffset 1s;
    -o-transition: stroke-dashoffset 1s;
    transition: stroke-dashoffset 1s; }
  .chart .inner {
    fill: transparent;
    stroke: #B1CD43;
    stroke-width: 2;
    -webkit-transition: stroke-dashoffset 1s;
    -o-transition: stroke-dashoffset 1s;
    transition: stroke-dashoffset 1s; }
  .chart svg {
    -webkit-transform: scale(-1, -1) rotate(90deg);
    -ms-transform: scale(-1, -1) rotate(90deg);
    transform: scale(-1, -1) rotate(90deg);
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px; }

.addFile {
  display: block; }
  .addFile__input {
    display: none; }
  .addFile__btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Geometria-Bold", sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    background-color: #B1CD43;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    min-width: 162px;
    min-height: 36px;
    width: 162px;
    cursor: pointer;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
    .addFile__btn:hover {
      opacity: .9; }

.main-titles {
  width: 100%;
  background-color: #F9FAFC;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 17px 14px 31px 14px;
  margin-top: 22px;
  margin-bottom: 39px; }
  .main-titles a {
    color: inherit; }
  .main-titles ol {
    counter-reset: section;
    list-style-type: none; }
    .main-titles ol li:before {
      counter-increment: section;
      content: counters(section, ".") "."; }
  .main-titles__list {
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    max-height: 0;
    overflow: hidden; }
    .main-titles__list Li:first-of-type {
      padding-top: 18px; }
    .main-titles__list_showed {
      max-height: 1000px; }
  .main-titles__title {
    font-family: "Geometria-Bold", sans-serif;
    font-size: 16px;
    color: #41454D;
    letter-spacing: 0;
    width: 100%;
    padding: 0 12px 14px 12px;
    border-bottom: 1px solid #EAEEEF;
    position: relative;
    cursor: pointer; }
    .main-titles__title:after {
      content: '';
      display: block;
      position: absolute;
      right: 12px;
      top: -webkit-calc(50% - 12px);
      top: calc(50% - 12px);
      background: transparent url("../img/arrowDown.svg") no-repeat center center;
      -webkit-background-size: contain;
      background-size: contain;
      width: 18px;
      height: 12px;
      opacity: .8;
      -webkit-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
    .main-titles__title.rotated:after {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .main-titles__item {
    font-family: "Geometria-Bold", sans-serif;
    font-size: 13px;
    color: #41454D;
    line-height: 21px;
    margin-bottom: 15px; }
    .main-titles__item > a {
      margin-bottom: 4px;
      display: inline-block; }
    .main-titles__item:before {
      margin-right: 8px; }
  .main-titles__subitem {
    font-family: "Geometria", sans-serif;
    margin-bottom: 4px; }
    .main-titles__subitem:before {
      font-family: "Geometria-Bold", sans-serif;
      font-size: 13px;
      color: #41454D;
      line-height: 21px;
      margin-right: 8px; }
  .main-titles__sublist {
    padding-left: 20px; }

.main-information {
  padding-top: 44px;
  border-top: 1px solid #f5f5f5;
  padding-bottom: 70px; }
  .main-information__title {
    font-family: "Geometria-Bold", sans-serif;
    font-size: 20px;
    color: #1D1D1D;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 25px; }
  .main-information__subtitle {
    font-family: "Geometria-Bold", sans-serif;
    font-size: 18px;
    color: #1D1D1D;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 20px; }
  .main-information__image {
    display: block;
    margin: 25px auto; }
  .main-information strong {
    font-family: "Geometria-Bold", sans-serif; }
  .main-information__section {
    margin-bottom: 66px; }
    .main-information__section:last-of-type {
      margin-bottom: 0; }

.main-banner {
  background: #82A3C5;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  width: 100%;
  height: 348px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px; }
  .main-banner__content {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 105px;
    padding-right: 105px; }
  .main-banner__title {
    font-family: "GeometriaExtraBold", sans-serif;
    font-size: 26px;
    color: #FFFFFF;
    line-height: 34px;
    margin-bottom: 35px; }
  .main-banner .main__information {
    color: #ffffff !important; }
  .main-banner .main__name:before {
    background-color: #fff; }
  .main-banner .main__time:before {
    background-image: url(../img/clockWhite.svg); }
  .main-banner__btn {
    background-color: #FFBB30;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: "Geometria-Bold", sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 49px;
    width: 205px;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
    .main-banner__btn:hover {
      background-color: rgba(255, 187, 48, 0.8); }

.user-nav {
  width: 272px;
  height: -webkit-calc(100vh - 84px);
  height: calc(100vh - 84px);
  position: fixed;
  left: 0;
  top: 84px;
  background-color: #fff;
  overflow: hidden;
  padding-left: 18px;
  padding-right: 27px;
  padding-top: 192px;
  z-index: 10;
  border-right: 1px solid #F1F1F1; }
  .user-nav__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 44px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 17px;
    cursor: pointer;
    position: relative;
    overflow: hidden; }
    .user-nav__item:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      background-color: #fff5e2;
      z-index: 1; }
    .user-nav__item_active:before {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none; }
    .user-nav__item_active .user-nav__link {
      color: #d59617; }
    .user-nav__item_active svg path, .user-nav__item_active svg polygon {
      fill: #d59617; }
  .user-nav__link {
    display: block;
    font-family: "Geometria-Bold", sans-serif;
    font-size: 14px;
    color: #1D1D1D;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    position: relative;
    z-index: 2; }
  .user-nav__icon {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 24px;
    position: relative;
    z-index: 2; }
    .user-nav__icon svg {
      max-width: 100%;
      max-height: 100%; }
      .user-nav__icon svg * {
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out; }

.title {
  font-family: "Geometria-Bold", sans-serif;
  font-size: 35px;
  color: #333333;
  max-width: 871px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px; }

.user-form {
  padding-top: 58px;
  padding-bottom: 68px;
  padding-left: 104px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .user-form__group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .user-form__ava {
    width: 128px;
    margin-right: 92px; }
  .user-form__pict {
    width: 128px;
    height: 128px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin-bottom: 14px;
    cursor: pointer; }
  .user-form__file {
    display: none; }
  .user-form__fileDescription {
    font-family: "Geometria", sans-serif;
    font-size: 12px;
    color: #83878C;
    line-height: 16px;
    text-align: center; }
  .user-form__label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 13px; }
  .user-form__block {
    padding: 30px 226px 30px 0;
    position: relative; }
    .user-form__block_hasCheckbox {
      padding-right: 100px; }
    .user-form__block:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 557px;
      height: 1px;
      background-color: #F1F2F2; }
    .user-form__block:last-of-type:after {
      display: none; }
  .user-form__input {
    display: block;
    border: 1px solid #DFE0E0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 228px;
    height: 39px;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    margin: 0;
    font-family: "Geometria", sans-serif;
    font-size: 14px;
    color: #333333;
    padding: 1% 2%; }
    .user-form__input.error {
      border: 1px solid red; }
    .user-form__input:focus {
      border: 1px solid #B1CD43; }
  .user-form__inputName {
    display: block;
    font-family: "Geometria", sans-serif;
    font-size: 14px;
    color: #333333;
    min-width: 140px;
    margin-right: 30px;
    text-align: right; }
  .user-form__subtitle {
    font-family: "Geometria-Bold", sans-serif;
    font-size: 16px;
    color: #333333;
    margin-bottom: 25px; }
  .user-form__btn {
    background: #B1CD43;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 177px;
    height: 44px;
    font-family: "Geometria-Bold", sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    border: none;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor: pointer;
    margin-left: 170px; }
    .user-form__btn:hover {
      background-color: rgba(177, 205, 67, 0.93); }
  .user-form__checkboxes {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }

.select-wrapper {
  width: 228px;
  position: relative; }

.options-list {
  max-height: 0;
  overflow-x: hidden;
  -webkit-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  position: absolute;
  left: 0;
  top: 39px;
  width: 100%;
  opacity: 0;
  background-color: #fff;
  z-index: 2;
  border: 1px solid #DFE0E0;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 3px 18px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 18px 2px rgba(0, 0, 0, 0.1); }
  .options-list.active {
    max-height: 1000px;
    opacity: 1; }

.result-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2%;
  font-family: "Geometria", sans-serif;
  font-size: 14px;
  color: #333333;
  border: 1px solid #DFE0E0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 228px;
  height: 39px;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  margin: 0;
  position: relative;
  cursor: pointer; }
  .result-wrapper:after {
    content: '';
    position: absolute;
    right: 10px;
    top: -webkit-calc(50% - 9px);
    top: calc(50% - 9px);
    width: 17px;
    height: 17px;
    background: url("../img/arrowDown.svg") no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
  .result-wrapper.active {
    border: 1px solid #B1CD43; }
    .result-wrapper.active:after {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

.options-item {
  font-family: "Geometria", sans-serif;
  font-size: 14px;
  color: #333333;
  height: 37px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2%;
  cursor: pointer;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  background-color: #fff; }
  .options-item:hover {
    background-color: rgba(0, 0, 0, 0.03); }

.checkboxes-rit {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 10px;
  margin-right: 22px; }
  .checkboxes-rit label {
    display: block;
    width: 100%; }
    .checkboxes-rit label span {
      width: 100%;
      display: block;
      cursor: pointer;
      font-family: "Geometria", sans-serif;
      font-size: 14px;
      color: #333333;
      position: relative; }
  .checkboxes-rit input[type="checkbox"] {
    display: none; }
    .checkboxes-rit input[type="checkbox"]:checked + span::before {
      background: #fff url(../img/schecked.svg) no-repeat center;
      -webkit-background-size: 80% 80%;
      background-size: 80%;
      border: 1px solid #B1CD43; }
    .checkboxes-rit input[type="checkbox"]:checked + span::after {
      border: 1px solid #B1CD43; }
    .checkboxes-rit input[type="checkbox"] + span::before {
      position: relative;
      top: 5px;
      left: -2px;
      content: "";
      display: inline-block;
      cursor: pointer;
      border: 1px solid  #CDD0D0;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      width: 19px;
      height: 19px;
      background-color: #fff; }
    .checkboxes-rit input[type="checkbox"] + span::after {
      content: '';
      position: absolute;
      left: -10px;
      top: 50%;
      -webkit-transform: translateY(-39%);
      -ms-transform: translateY(-39%);
      transform: translateY(-39%);
      display: block;
      width: 130%;
      height: 130%;
      border: 1px solid #DFE0E0;
      -webkit-border-radius: 3px;
      border-radius: 3px; }

.order-block {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #F1F1F1;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 30px 54px 36px 40px;
  margin-bottom: 10px;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer; }
  .order-block:hover {
    border: 1px solid #b1cd43; }
  .order-block__name {
    font-family: "Geometria-Bold", sans-serif;
    font-size: 17px;
    color: #333333;
    line-height: 25px;
    width: auto;
    max-width: 60%; }
  .order-block__item {
    font-family: "Geometria", sans-serif;
    font-size: 15px;
    color: #83878C;
    line-height: 21px; }

.vebinars-content {
  width: 1016px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }

.vebinars-title {
  font-family: "Geometria-Bold", sans-serif;
  font-size: 35px;
  color: #1D1D1D;
  margin-bottom: 60px; }

.vebinars-section {
  padding-bottom: 75px;
  padding-top: 55px;
  border-bottom: 1px solid #EAEAEA;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .vebinars-section:first-of-type {
    padding-top: 0; }
    .vebinars-section:first-of-type .vebinars-block {
      margin-bottom: 0; }
  .vebinars-section:last-of-type {
    border-bottom: none;
    padding-bottom: 0; }

.vebinars-block {
  background-color: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  width: 305px;
  position: relative;
  margin-right: 4%;
  max-width: 33%;
  margin-bottom: 44px;
  -webkit-box-shadow: 0 15px 21px 0 rgba(215, 215, 215, 0.07);
  box-shadow: 0 15px 21px 0 rgba(215, 215, 215, 0.07); }
  .vebinars-block:nth-of-type(3n) {
    margin-right: 0; }
  .vebinars-block:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 80%;
    bottom: -4px;
    height: 100%;
    -webkit-box-shadow: 0 9px 19px 0 rgba(52, 52, 52, 0.06);
    box-shadow: 0 9px 19px 0 rgba(52, 52, 52, 0.06);
    background-color: #f5f5f5;
    -webkit-border-radius: 8px;
    border-radius: 8px; }
  .vebinars-block_add {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #F5F5F5;
    padding: 0 5%;
    cursor: pointer; }
    .vebinars-block_add:after {
      display: none; }
    .vebinars-block_add__icon {
      font-family: "Geometria", sans-serif;
      font-size: 59px;
      color: #C6C6C6;
      letter-spacing: 3.69px;
      line-height: 23px;
      margin-bottom: 26px; }
    .vebinars-block_add__text {
      font-family: "Geometria-Bold", sans-serif;
      font-size: 16px;
      color: #A5A5A5;
      letter-spacing: 1px;
      line-height: 27px;
      text-align: center; }
  .vebinars-block_live {
    -webkit-box-shadow: 0 15px 21px 0 rgba(255, 72, 72, 0.08);
    box-shadow: 0 15px 21px 0 rgba(255, 72, 72, 0.08); }
    .vebinars-block_live:after {
      content: '';
      display: block;
      position: absolute;
      width: 80%;
      height: 100%;
      z-index: 1;
      background-color: #f6f6f6;
      -webkit-box-shadow: 0 15px 23px 0 rgba(255, 21, 21, 0.06);
      box-shadow: 0 15px 23px 0 rgba(255, 21, 21, 0.06);
      -webkit-border-radius: 8px;
      border-radius: 8px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: -4px; }
  .vebinars-block_vebinar .vebinars-block__label {
    background-color: #8247ff; }
  .vebinars-block_vebinar .vebinars-block__top {
    background-color: #D1E6C1; }
  .vebinars-block__top {
    background: #A3CAE1;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 217px;
    position: relative;
    z-index: 2; }
  .vebinars-block__bottom {
    padding: 14px 21px 33px 21px;
    background-color: #fff;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    position: relative;
    z-index: 2;
    min-height: 250px; }
  .vebinars-block__lesson {
    font-family: "GeometriaExtraBold", sans-serif;
    font-size: 10px;
    color: #A7A7A7;
    letter-spacing: 1.26px;
    margin-bottom: 13px;
    text-transform: uppercase; }
  .vebinars-block__title {
    font-family: "Geometria-Bold", sans-serif;
    font-size: 16px;
    color: #1D1D1D;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 22px; }
  .vebinars-block__live {
    background: #FFFFFF;
    border: 1px solid #E04242;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: "Geometria", sans-serif;
    font-size: 13px;
    color: #E04242;
    width: 138px;
    height: 28px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 35px; }
    .vebinars-block__live span {
      display: block;
      position: relative; }
      .vebinars-block__live span:before {
        content: '';
        position: absolute;
        background: #E04242;
        width: 8px;
        height: 8px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        left: -14px;
        top: -webkit-calc(50% - 4px);
        top: calc(50% - 4px);
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        -webkit-animation: pulse 1s infinite;
        animation: pulse 1s infinite; }
  .vebinars-block__liveBtn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #E04242;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 48px;
    font-family: "Geometria-Bold", sans-serif;
    font-size: 14px;
    color: #fff;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
    .vebinars-block__liveBtn:hover {
      background-color: rgba(224, 66, 66, 0.94); }
  .vebinars-block__label {
    background-color: #FFBB30;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: "GeometriaExtraBold", sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding: 8px 12px; }
  .vebinars-block__info {
    font-family: "Geometria-Bold", sans-serif;
    font-size: 13px;
    color: #A7A7A7;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 48px; }
    .vebinars-block__info_orange {
      color: #e3981b;
      display: inline-block;
      margin-left: 10px; }
  .vebinars-block__statuses {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .vebinars-block__left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .vebinars-block__status {
    position: relative; }
  .vebinars-block__link {
    background: #FFFFFF;
    border: 1px solid #B1CD43;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 109px;
    height: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Geometria-Bold", sans-serif;
    font-size: 13px;
    color: #B1CD43; }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }

.authorization {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #565ea8;
  font-family: "Geometria", sans-serif; }

.authorization-content {
  margin-left: auto;
  margin-right: auto;
  width: 1070px;
  max-width: 90%;
  padding-top: 27px; }

.authorization-logo {
  display: block;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  margin-bottom: 76px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 208px; }
  .authorization-logo:hover {
    opacity: .8; }

.authorization-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .authorization-info__content {
    width: 48%; }
  .authorization-info__type {
    font-family: "Geometria-Bold", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin-bottom: 33px;
    text-transform: uppercase; }
  .authorization-info__date {
    font-family: "Geometria", sans-serif;
    font-size: 20px;
    color: #FFBB30;
    margin-bottom: 28px; }
  .authorization-info__title {
    font-family: "GeometriaExtraBold", sans-serif;
    font-size: 35px;
    color: #FFFFFF;
    line-height: 40px;
    margin-bottom: 27px; }
  .authorization-info__description {
    font-family: "Geometria", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 26px;
    margin-bottom: 60px; }
  .authorization-info__teacher {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .authorization-info__teacherImg {
    width: 56px;
    height: 56px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #CDD0D0;
    margin-right: 17px; }
  .authorization-info__teacherTitle {
    font-family: "Geometria", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px; }
  .authorization-info__teacherName {
    font-family: "Geometria-Bold", sans-serif;
    font-size: 18px;
    color: #FFBB30;
    line-height: 24px; }
  .authorization-info__forms {
    background: #FFFFFF;
    -webkit-box-shadow: 0 1px 5px 0 rgba(67, 9, 50, 0.07);
    box-shadow: 0 1px 5px 0 rgba(67, 9, 50, 0.07);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 470px;
    max-width: 45%; }
  .authorization-info__tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .authorization-info__tab {
    height: 74px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    font-family: "Geometria-Bold", sans-serif;
    font-size: 18px;
    color: #333333;
    background-color: #f1f2f2;
    -webkit-border-radius: 3px 3px  0 0;
    border-radius: 3px 3px  0 0;
    cursor: pointer;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
    .authorization-info__tab_active {
      background-color: #fff; }
  .authorization-info__formWrap {
    width: 100%;
    padding: 25px 99px 30px 99px; }
  .authorization-info__label {
    display: block;
    margin-bottom: 26px; }
  .authorization-info__labelName {
    display: block;
    font-family: "Geometria", sans-serif;
    font-size: 16px;
    color: #333333;
    margin-bottom: 9px; }
  .authorization-info__input {
    width: 100%;
    background: #F6F7F7;
    border: 1px solid #E4E7E8;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 45px;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    padding: 0 2%;
    font-family: "Geometria", sans-serif;
    font-size: 16px;
    color: #333333; }
    .authorization-info__input.error {
      border: 1px solid red; }
    .authorization-info__input::-webkit-input-placeholder {
      color: #CDD0D0; }
    .authorization-info__input::-moz-placeholder {
      color: #CDD0D0; }
    .authorization-info__input:-ms-input-placeholder {
      color: #CDD0D0; }
    .authorization-info__input::-ms-input-placeholder {
      color: #CDD0D0; }
    .authorization-info__input::placeholder {
      color: #CDD0D0; }
    .authorization-info__input:focus {
      background-color: #fff;
      border: 1px solid #B1CD43; }
  .authorization-info__socialTitle {
    font-family: "Geometria", sans-serif;
    font-size: 15px;
    color: #333333;
    margin-bottom: 22px; }
  .authorization-info__socialWrap {
    margin-bottom: 34px; }
  .authorization-info__social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .authorization-info__socialIcon {
    display: block;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #DFE0E0;
    margin-right: 20px; }
  .authorization-info__btn {
    border: none;
    display: block;
    width: 100%;
    height: 55px;
    background-color: #FFBB30;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: "Geometria-Bold", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor: pointer;
    margin-bottom: 19px; }
    .authorization-info__btn:hover {
      opacity: .95; }
  .authorization-info__warning {
    font-family: "Geometria", sans-serif;
    font-size: 12px;
    color: rgba(51, 51, 51, 0.49);
    line-height: 14px; }

